div.Coluna {
  display: flex;
  flex-direction: column;
}
span.profissão {
  text-align: center;
  font-size: 15pt;
  margin-top: 15px;
  font-weight: bold;
}
.sobreAdvogados {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
  min-height: 800px;
  padding-bottom: 60px;
  border-bottom: 1px solid var(--cor-primaria);
}

.fotoAdvogados {
  position: relative;
  left: 0%;
  /* border: 5px solid var(--cor-terciaria); */
  z-index: -1;
  width: 430px;
  height: 430px;
  border-radius: 50%;
}
section.Sobre {
  height: auto;
  min-height: 120svh;
  display: flex;
  justify-content: center;
  background: url("../assets/BackgroundSobre.png") no-repeat;
  background-position: 50% 0%;
  background-size: cover;
}
.areaSobreNos {
  width: 80vw;
  padding: 10px;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.4);
}
.areaSobreNos > p > strong {
  color: var(--cor-primaria);
}
.sobre {
  padding-left: 50px;
  max-width: 600px;
  width: 60vw;
  height: auto;
  text-transform: lowercase capitalize;
  border-left: 2px solid var(--cor-terciaria);
}
p.textoSobre {
  text-align: left;
  margin-top: 25px;
  width: 500px;
  max-width: 60vw;
}
#sobreDrReginaldo {
  padding-left: 122px;
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .fotoAdvogados {
    width: 200px;
    height: 200px;
  }
  .sobre {
    /* text-align: center; */
    padding: 0px 10px;
    font-size: 70%;
    border-left: none;
  }
  .advogados {
    font-size: 20pt;
  }
  #sobreDrReginaldo {
    margin-left: 0px;
    padding: 0;
  }
}

@media screen and (max-width: 600px) {
  .fotoAdvogados {
    width: 320px;
    height: 320px;
  }
  section.sobreAdvogados {
    padding: 15px;
    margin: 0px;
    height: auto;
  }
  .sobre {
    padding: 0px 10px;
    font-size: 85%;
    border-left: none;
  }

  .advogados {
    font-size: 18pt;
  }
  #sobreDrReginaldo {
    padding-left: 0px;
  }
}
@media screen and (max-width: 500px) {
  .sobreAdvogados {
    flex-direction: column;
    justify-content: center;
  }
  .Coluna {
    margin: 35px;
  }
  .fotoAdvogados {
    width: 250px;
    height: 250px;
  }
  .sobre {
    font-size: 8pt;
  }
  p.textoSobre {
    font-size: 10pt;
    text-align: center;
  }
  span.profissão {
    font-size: 12pt;
  }
}
