#Serviços {
  height: 100vh;
  position: relative;
  overflow-x: hidden;
}
div.res{
  background-color: var(--cor-primaria);
  width: 99vw;
  color: #040404;
  padding: 50px 250px;
  position: fixed;
  top: 0%;
  left: 50%;
  translate: -50%;
  z-index: 999;
  height: 100svh;
  overflow-y: auto;
  animation: abrirServiço 0.5s linear;
  display: none;
}
strong{
  color: #040404;
  text-align: center;
}
.textoServiço{
  color: var(--cor-secundaria);
  text-align: justify;
  text-indent: 50px;
  margin-top: 10px;
}
@keyframes abrirServiço {
  from{
    opacity: 0;
  }
}
button.fechar{
  width: 4rem;
  max-width: 70px;
  background-color: var(--cor-secundaria);
  color: var(--cor-terciaria);
  border: 2px solid var(--cor-terciaria);
  position: relative;
  left: 110%;
}
button.fechar:hover{
  background-color: var(--cor-primaria);
  color: #040404;
  border-color: #040404;
}
button.fechar:nth-of-type(2){
  max-width: 150px;
  width: 10rem;
  left: 50%;
  transform: translate(-50%, 60px);
}
table {
  margin: 25px auto;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
  width: 50vw;
}
tr {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: relative;
  height: 120px;
  margin-top: -10px;
  margin-bottom: 40px;
}
span.tituloServiços {
  color: #040404;
  font-family: "Fraunces", serif;
  font-weight: bold;
}
td {
  cursor: pointer;
  font-family: "Tenor Sans", sans-serif;
  z-index: 1;
  width: 20vw;
  text-wrap: wrap;
  margin: 10px;
  padding: 22px;
  text-align: center;
  font-size: 10pt;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #c0c0c0;
  box-shadow: inset #fefefe 3px 3px 0px, inset #868686 -3px -3px 1px;
  border: 2px solid #040404;
  color: var(--cor-secundaria);
  border-radius: 10px;
  max-height: 150px;
  height: 30px;
  overflow: hidden;
  transition: height 0.6s, box-shadow 0.3s;
}
span.hidden {
  display: block;
  opacity: 0;
  max-height: 0;
  transition: opacity 0.5s, max-height 0.5s;
  overflow: hidden;
  color: var(--cor-secundaria);
}
td:hover span.hidden {
  opacity: 1;
  max-height: 200px;
}
td:not(:hover) {
  height: 20%;
}
td:hover {
  position: relative;
  z-index: 9;
  transition: all 0.6s;
  height: 150px;
  span.tituloServiços{
    color: yellow;
    text-shadow: 2px 2px 3px #000;
  }
}
.Logo2 {
  position: absolute;
  bottom: 45%;
}
#leftLogo {
  right: 75%;
}
#rightLogo {
  left: 75%;
}
.leftLogo2{
  right: 80%;
  top: 50%;
}
.rightLogo2{
  left: 80%;
  top: 50%;
}
@media (max-width: 840px) {
  #Serviços {
    height: 100svh;
    padding: 20px 0px;
  }
  div.res{
    padding: 50px 40px;
    width: 100vw;
  }
  table {
    width: 100%;
  }
  td {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35vw;
    font-size: 70%;
  }
  .Logo2 {
    display: none;
  }
  button.fechar{
    left: 85%;
    top: -5%;
  }
}
@media (max-width: 500px) {
  td {
    width: 80vw;
    font-size: 112%;
    height: 100px;
    transition: height 0.3s;
    max-height: 250px;
  }
  span.hidden{
    display: none;
  }
  tr {
    height: auto;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
}
