section.sobreAdvogados{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.fotoAdvogados{
    position: relative;
    left: 0%;
    border: 5px solid var(--cor-terciaria);
    z-index: -1;
    width: 330px;
    height: 330px;
    border-radius: 50%;
}
.sobre{
    padding-left: 50px;
    border-left: 2px solid var(--cor-terciaria);
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
    .fotoAdvogados {
        width: 250px;
        height: 250px;
        margin-bottom: -40px;
    }
    section.sobreAdvogados {
        flex-direction: column;
        gap: 0px;
        padding: 0px;
        margin: 0px;
    }
    .sobre {
        text-align: center;
        padding: 0px 10px;
        font-size: 90%;
        border-left:none;
        }
    .advogados {
        font-size: 20pt;
    }
}

@media screen and (max-width: 600px) {
    .fotoAdvogados {
        width: 170px;
        height: 170px;
        margin-bottom: -40px;
    }
    section.sobreAdvogados {
        flex-direction: column;
        gap: 0px;
        padding: 0px;
        margin: 0px;
        height: 100vh;
    }
    .sobre {
        text-align: center;
        padding: 0px 10px;
        font-size: 85%;
        border-left:none;
        }
    .advogados {
        font-size: 18pt;
    }

}