h1 {
  text-align: center;
  font-size: 25pt;
}
img {
  -webkit-user-drag: none;
}
.icone {
  display: none;
}
header.cabeçalho {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 65px;
  padding: 5px;
  overflow: hidden;
  border-bottom: 1px solid var(--cor-primaria);
  background: var(--cor-secundaria);
  position: sticky;
  top: 0%;
  z-index: 999;
}
div#Home {
  height: 100svh;
  background: url(../imgs/ImgFundo.jpeg) no-repeat;
  background-size: cover;
  padding-top: 50px;
  margin-top: -50px;
}
.logo {
  width: 130px;
  height: 130px;
  overflow: hidden;
  margin-top: -35px;
  position: relative;
  left: -5%;
}
.logo:hover {
  filter: brightness(1.4);
}
.Menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
}
button {
  border-radius: 50px;
  height: 50px;
  width: 15%;
  background: none;
  text-wrap: nowrap;
  transition: 0.5s;
  border: var(--cor-primaria) solid;
  animation: fadeIn 1.5s ease-in-out forwards;
  opacity: 0;
}
button:nth-child(1) {
  animation-delay: 0.2s;
}
button:nth-child(2) {
  animation-delay: 0.4s;
}
button:nth-child(3) {
  animation-delay: 0.6s;
}
button:nth-child(4) {
  animation-delay: 0.8s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
button:hover {
  transition: 0.3s;
  color: var(--cor-de-fundo);
  border: #020202 solid 2px;
  background-color: var(--cor-primaria);
}
.Container {
  margin: 50px auto;
  border: 2px solid var(--cor-primaria);
  border-radius: 50%;
  width: 500px;
  height: 500px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 22, 0, 0.7);
  animation: aparecer 1.6s ease-in-out forwards;
}
@keyframes aparecer {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

#logoCentral {
  margin-top: -25%;
}
.titulo {
  font-size: 20pt;
  padding: 12px;
}
span.titulo {
  border: 1px solid var(--cor-primaria);
  padding: 5px;
  font-size: 16pt;
}

section {
  height: 100svh;
  border-top: 1px solid var(--cor-primaria);
  padding: 25px;
  padding-top: 65px;
  scroll-snap-align: start;
}
div.sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
}
p {
  margin-top: 50px;
  letter-spacing: 2px;
  text-align: center;
  font-family: "Tenor Sans", sans-serif;
}
.Especialidades {
  background-color: #296f8d;
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 10px;
  width: 200px;
  margin-top: 55px;
  font-family: "Tenor Sans", sans-serif;
  font-weight: bold;
}
.Especialidades:hover {
  transition: all 0.3s;
  font-size: 101%;
  background-color: #225c75;
  border: 1px solid black;
  cursor: pointer;
}

/* Rodapé */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow-x: hidden;
  background-color: var(--cor-de-fundo);
  border-top: 1px solid var(--cor-primaria);
}
.barras {
  height: 100vh;
}
#Contatos {
  height: 100vh;
  margin-top: 0px;
  padding: 20px 10px;
  background-color: var(--cor-secundaria);
}
.contato {
  font-weight: bold;
  font-size: 14pt;
  text-decoration: none;
  color: var(--cor-terciaria);
}
.email {
  font-weight: bold;
  font-size: 13pt;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 2px solid #ddd;
  color: #296f8d;
  text-shadow: 2px 2px 2px black;
}
#logoFinal {
  position: absolute;
  left: 50%;
  transform: translate(-52%, -20%);
}
.telefone {
  text-decoration: none;
  border-bottom: 1px solid #fff;
  padding-bottom: 2px;
}
#copyright {
  text-align: center;
  font-size: 14px;
  margin-top: 180px;
}
@media (max-width: 600px) {
  .Menu {
    width: 100%;
    display: none;
  }
  .icone {
    height: 80%;
    display: block;
    position: relative;
    left: -25%;
    top: 50%;
    padding: 5px;
    font-size: 20pt;
    border: 2px solid var(--cor-primaria);
    transform: translateY(-50%);
  }
  .icone:hover {
    background-color: #ddd;
    color: #020202;
  }
  .logo {
    left: -5%;
  }
  div#Home {
    padding: 25px;
  }
  .Container {
    width: 70vw;
    height: 70vw;
    margin-top: 25%;
  }
  #logoCentral {
    margin-bottom: calc(-10% - 15px);
    width: 140px;
  }
  .titulo {
    font-size: 100%;
  }
  span.titulo {
    font-size: 65%;
    text-wrap: wrap;
  }
  .barras {
    display: none;
  }
}
@media (max-width: 450px) {
  /* Ajustes de Tela para celulares */
  .Container {
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    margin-top: 0;
  }
  .email {
    font-size: 0.95rem;
  }
}
@media (max-width: 380px) {
  span.titulo {
    display: none;
  }
  .email {
    font-size: 0.85rem;
  }
}
